.container {
    display: grid;
    /*So, there are two columns, and three rows. I don't have anything that can go there
    *so its just blank space
    */
    grid-template-columns: 50px 50px;
    grid-template-rows: 25px 25px 50px;
}

.container2 {
    display: grid;
    /*Like above only now there is stuff in the third row*/
    grid-template-columns: 50px 50px;
    grid-template-rows: 25px 25px 50px;
    /*Gap separates the items. The first value is rows, and the second one is columns
    *If only one value is used then it applies to both rows, and columns
    */
    gap: 25px 100px;
}

.container3 {
    display: grid;
    /*One row, and then four columns. */
    grid-template: 50px / 80px 70px 100px 600px;
}

.container4 {
    display: grid;
    grid-template: 100px / 1fr 1fr 1fr;
    gap: 10px;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.item2 {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
}

.red {
    background: red;
}

.yellow {
    background: yellow;
}

.blue {
    background: blue;
}

.green {
    background: green;
}

.pink {
    background: pink;
}

.orange {
    background: orange;
}

.container > div,
.container2 > div,
.container3 > div,
.container4 > div {
    border: 2px solid black;
}